:root {
  --color-text-white: #ffffff;
  --color-text-dark-gray: #363636;
  --color-text-black: #000000;
  --color-white: #ffffff;
  --color-dark-blue: #2b5fb3;
  --color-danger: #cc0f35;
  --color-succuss: #007a68;
  --color-grey: #888;
  --color-lite-grey: #ccc;

  --a-normal-text: #2E70DC;
  --a-normal-underline: #707070;
  --a-visited-text: var(--a-normal-text);
  --a-visited-underline: #bbb;
  --a-hover-bg: rgba(75%, 75%, 75%, .25);
  --a-active-text: #c00;
  --a-active-underline: #c00;
}

a[href] {  
  color: var(--a-normal-text);
  text-decoration-color: var(--a-normal-underline);
  text-decoration-skip-ink: none;
  text-decoration: underline;
  cursor: pointer;
}

a[href]:hover {  
  color: var(--a-active-text); 
  text-decoration-color: var(--a-active-underline); 
}

.navbar-menu .button {
  text-decoration: none;
}

.soc a {
  text-decoration: none;
}

.visually-hide {
  position: absolute;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  color: var(--color-text-black);
}

.visually-hide.white {
  background-color: var(--color-white);
}

.skip-nav a {
  display: block;
  color: var(--color-text-white);
  background: var(--color-dark-blue);  
  padding: 5px 20px;
  position: absolute;
  left: -1000em;
  top: 0;
  font-weight: bold;
}

.skip-nav a:focus, .skip-nav a:active {
  z-index: 99;
  left: 0;
}

a.skip_content:focus:hover {
  color: var(--a-active-text); 
}

a[target="_blank"]:after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

button:focus,select:focus, :focus, a:focus {
  border-radius: 2px;
  outline: 0;
  -webkit-box-shadow: 0px 0px 0px 3px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 0px 3px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 0px 3px rgba(66, 68, 90, 1), 0 0 0 5px var(--color-white) !important;
} 

.hero-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/accessibility-hero-banner.jpg") no-repeat center center fixed;
  background-size: cover;
}

.tabs {
  margin-bottom: -1px !important;
  position: relative;
  overflow: visible;
}

.tab {
  padding: 8px 16px;
  border-radius: 5px 5px 0 0;
}

.tab.is-active{
  background-color: var(--color-white);
  color: var(--a-normal-text);
}

.tab-content {
  padding: 2rem;
}
.tab-pane {
  display: none;
}
.tab-pane.is-active {
  display: block;
  position: relative;
}
.is-active {
  display: initial;
}

.cent {
  display: block;
  margin: 10px auto;
  padding: 5px;
  border: 1px solid var(--color-lite-grey)
}

.video {
  display: block;
  margin: 0 auto;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.features,
.medias {
  padding: 3rem 0;
}

.features .fa,
.features .fab {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #209cee;
}

.is-shady {
  animation: flyintoright 0.4s backwards;
  background: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.is-shady:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.13), 0 6px 6px rgba(0, 0, 0, 0.19);
}


.has-same-height .card {
  height: 350px;
  overflow: hidden;
}

.skills-content .media + .media {
  margin-top: .5rem;
}

.skills-content .progress {
  height: 4px !important;
}

.section-heading {
  margin-bottom: 2rem;
}

.info-tiles {
  margin: .75rem auto;
  padding: 0 .75rem;
}

.button.is-primary.is-alt {
  background: linear-gradient(to bottom, #0072ff, #00c6ff);
  font-weight: 700;
  font-size: 14px;
  height: 3rem;
  width: 100%;
  line-height: 2.8;
  margin-bottom: 1rem;
  color: var(--color-text-black);
}
.post {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-lite-grey);
}
.post:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.forum-list li {
  margin-bottom: .5rem;
}


@media screen and (max-width: 1087px) {
  .navbar-menu {
    background-color: var(--color-grey);
  }
}

.logo-link {
  height: 70px;
  width: 250px;
}

.logo-link img {
  width: 100%;
}

li {
  list-style: none;
}

.hero.is-fullheight {
  min-height: 70vh;
}

.blockquote {
  background-color: #f5f5f5;
  border-left: 5px solid #dbdbdb;
  padding: 1.25em 1.5em;
}

.ol-list li {
  position: relative;
  display: flex;
  align-items: center;
}

.ol-list li::before {
  content: "";
  background: url(../img/arrow_sans_right-512.png) no-repeat;
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  background-size: contain;
}

.subtitle {
  color: var(--color-text-dark-gray);
}

.menu-list a {
  padding: 0;
  width: fit-content;
}

.dark {
  color: var(--color-text-black) !important;
}

a.dark-blue {
  color:  var(--color-dark-blue)
}

a.dark-blue:hover {
  color: var(--color-text-black) !important;
}

.help.is-danger {
  color: var(--color-danger)
}

.input.is-danger {
  border-color: var(--color-danger)
}

.help.is-success {
  color: var(--color-succuss);
}

.input.is-success {
  border-color:  var(--color-succuss);
}

.button.is-white.is-outlined:not(:hover,:focus) {
  background-color:  #121111c7;
}

.hero.is-link .subtitle {
  color:  var(--color-text-white);
}

.hero.is-link {
  background-color: var(--color-dark-blue);
}

h3.bold, a.bold  {
  font-weight: bold;
}

fieldset {
  border: none;
}

.menu-navigate {
  margin: 0;
  font-size: 110%;
  position: relative;
  z-index: 100;
 }

.menu-navigate .button:after {
  content: " ";
  width: 10px;
  height: 10px;
  margin-left: 10px;
  border-left: 2px solid var(--color-white);
  border-top: 2px solid var(--color-white);
  transform: rotate(225deg) translate(20%, 20%);
}

.menu-navigate .button[aria-expanded="true"]:after { 
  transform: rotate(45deg) translate(20%, 20%);
}

.menu-navigate .button:focus:after, 
.menu-navigate .button:hover:after {
  border-left: 2px solid var(--color-text-black);
  border-top: 2px solid var(--color-text-black);  
}

.menu-navigate_list {
  margin: 0;
  padding: 7px 4px;
  list-style: none;
  display: none;
  position: absolute;
  top: 70px;
  border: 2px solid var(--color-dark-blue);
  border-radius: 5px;
  background-color: var(--color-white);
}

@media screen and (max-width: 1087px) {
  .menu-navigate_list {
    top: 56px;
  }
}

.menu-navigate_list::before {  
  content: ""; 
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  border-style: solid;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid var(--color-white);
  border-top: 0;  
}

.menu-navigate_list-item {
  margin-bottom: 3px;
}

.menu-navigate_list-item a {
  margin: 0;
  padding: 6px;
  display: block;
  width: 24em;
  background-color: var(--color-white);
  border: none;
  color: var(--color-text-black);
  border-radius: 5px;
}

.menu-navigate_list-separator {
  margin: 0;
  border-bottom: 2px solid var(--color-lite-grey); 
}

.menu-navigate a:focus {
  padding: 4px;
  border: 2px solid var(--color-dark-blue);
  background: var(--color-dark-blue);
  color: var(--color-text-white);
  outline: none;
  margin: 0;
}